<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <system.serviceModel>
    <services>
      <service behaviorConfiguration="SecureRESTSvcTestBehavior" name="WCFSSLRest.SecureRESTSvcTest">

        <host>
          <baseAddresses>
            <add baseAddress="https://pc:8099/MyRESTServices/"/>
          </baseAddresses>
        </host>

        <!--webHttpBinding allows exposing service methods in a RESTful manner-->
        <endpoint address=""
          binding="webHttpBinding"
          bindingConfiguration="webHttpTransportSecurity"
          behaviorConfiguration="webHttpBehavior"
          contract="WCFSSLRest.ISecureRESTSvcTest" />

        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />

      </service>
    </services>
    <bindings>
      <webHttpBinding>
        <binding name="webHttpTransportSecurity">
          <security mode="Transport" />
        </binding>
      </webHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SecureRESTSvcTestBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>

      <!--Required default endpoint behavior when using webHttpBinding-->
      <endpointBehaviors>
        <behavior name="webHttpBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>

    </behaviors>

  </system.serviceModel>
</configuration>